.main-container {
    position: relative;
}

.page-section {
    --dur: 250ms;
    overflow: hidden;
    height: 0px;
    min-height: 0px;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    pointer-events: none;
    width: 100%;
    padding: 0 150px;
    padding-bottom: 2rem;
    transition: opacity var(--dur) ease 0s,
    height 0s ease var(--dur),
    min-height 0s ease var(--dur),
    overflow 0s ease var(--dur);
}
.page-section.active {
    height: auto;
    min-height: calc(100vh - var(--nav-height));
    opacity: 1;
    pointer-events: auto;
    transition: opacity var(--dur) ease 0s,
    height 0s ease 0s,
    min-height 0s ease 0s,
    overflow 0s ease 0s;
}

/* Home section */
.home-section {
    display: flex;
    align-items: center;
    justify-content: center;
}